########################################
# Terraform
########################################

.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
crash.log

########################################
# Variable Files
########################################


########################################
# Terraform Plan Files
########################################

tfplan
*.plan

########################################
# VS Code
########################################

.vscode/

########################################
# Operating System Files
########################################

.DS_Store
Thumbs.db

########################################
# Logs
########################################

*.log